{{define "subject"}} Resetovanje lozinke za {{.BarbershopName}} {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Zdravo {{.Username}},</p>

    <p>Primili smo zahtev za resetovanje tvoje lozinke za {{.BarbershopName}} nalog.</p>

    <p>Da bi resetovao/la lozinku, klikni na sledeći link:</p>
    <p><a href="{{.ResetURL}}">{{.ResetURL}}</a></p>

    <p>Ako nisi zahtevao/la promenu lozinke, slobodno ignoriši ovu poruku. Tvoja lozinka će ostati nepromenjena.</p>

    <p>Hvala,</p>
    <p>{{.BarbershopName}} tim</p>
  </body>
</html>
{{end}}