{{define "subject"}} Završite registraciju za {{.BarbershopName}} {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Zdravo {{.Username}},</p>
    <p>Hvala što ste se registrovali na {{.BarbershopName}}! Drago nam je što ste sa nama.</p>
    <p>Pre nego što počnete da koristite našu platformu, potrebno je da potvrdite svoju email adresu. Kliknite na link ispod da biste potvrdili registraciju:</p>
    <p><a href="{{.ActivationURL}}">{{.ActivationURL}}</a></p>
    <p>Ukoliko želite da aktivirate nalog ručno, kopirajte i nalepite kod iz linka iznad.</p>
    <p>Ako se niste registrovali na {{.BarbershopName}}, slobodno ignorišite ovu poruku.</p>

    <p>Hvala,</p>
    <p>Vaš {{.BarbershopName}} tim</p>
  </body>
</html>
{{end}}